
.row{
    margin-bottom:10px;
}

.btn {
    width: 100%;
}

#stageSelect, #taskInput, #dropzone-delete{
    width: 100%;
    
}

.card {
    min-height: 400px;
}

#dropzone-delete{
    min-height: 135px;
    color: white;
    padding-top: 55px;
    padding-bottom: auto;
 
}

.dropzone-activated {
      border: 1px solid red;
    }
  
.dropzone-entered {
      background-color: #efefef;
    }
  