<div class="container w-75 text-left border">
  <form>
    <div class="form-row">
      <div class="col">
        <label for="task-input">Task:</label>
        <input class="form-control" name="task-input" id="taskInput" [(ngModel)]="newTask.title">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="stage-select">Stage:</label>
        <select class="form-control" name="stage-select" id="stageSelect" [(ngModel)]="newTask.taskStageId">
          <option *ngFor="let stage of stageRep.Read()" [value]="stage.id" [selected]="stage.id == 1">{{stage.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row my-2 rem">
      <div class="col">
        <input type="button" class="btn btn-secondary" value="RESET" (click)="onReset()">
      </div>
      <div class="col">
        <input type="submit" class="btn btn-secondary" value="CREATE" (click)="onCreate()">
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col ">
      <div class="card dropzone" id="cardTodo" appDropzone (drop)="move(currentTask, 1)">
        <div class="card-title">
          <h3 class="border-bottom text-center">TO DO</h3>
          <div *ngFor="let task of taskRep.Read()" appDroppable (dragStart)="currentTask = task">
            <div *ngIf="task.taskStageId == 1" class="box-1 border rounded text-center bg-secondary">
              {{task.title}}
              <div class="box-2 border rounded text-center bg-secondary" *appDraggableHelper>{{ task.title }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropzone" id="cardInProgress" appDropzone (drop)="move(currentTask, 2)">
        <div class="card-title">
          <h3 class="border-bottom text-center">IN PROGRESS</h3>
          <div *ngFor="let task of taskRep.Read()" appDroppable (dragStart)="currentTask = task">
            <div *ngIf="task.taskStageId == 2" class="box-1 border rounded text-center bg-secondary">
              {{task.title}}
              <div class="box-2 border rounded text-center bg-secondary" *appDraggableHelper>{{ task.title }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropzone" id="cardDone" appDropzone (drop)="move(currentTask, 3)">
        <div class="card-title">
          <h3 class="border-bottom text-center">DONE</h3>
          <div *ngFor="let task of taskRep.Read()" appDroppable (dragStart)="currentTask = task">
            <div *ngIf="task.taskStageId == 3" class="box-1 border rounded text-center bg-secondary">
              {{task.title}}
              <div class="box-2 border rounded text-center bg-secondary" *appDraggableHelper>{{ task.title }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="dropzone card card-text bg-secondary text-center" id="dropzone-delete" appDropzone (drop)="delete(currentTask)">DRAG
        TO DELETE
      </div>
    </div>
  </div>

</div>