<div class="container w-75 text-left border">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <label for="task-input">Task:</label><br />
          <input name="task-input" id="taskInput">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="stage-select">Stage:</label><br />
          <select name="stage-select" id="stageSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input class="btn btn-secondary" value="RESET">
        </div>
        <div class="col">
          <input class="btn btn-secondary" value="CREATE">
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col ">
    <div class="card">
      <div class="card-title">
          <h3 class="border-bottom text-center">TO DO</h3> 
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-title">
        <h3 class="border-bottom text-center">IN PROGRESS</h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-title">
        <h3 class="border-bottom text-center">DONE</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <input class="btn btn-secondary" value="DELETE" id="delete">
  </div>
</div>
</div>