.row{
    margin-bottom:10px;
}

.btn {
    width: 100%;
}

#stageSelect, #taskInput, #delete{
    width: 100%;
    
}

.card {
    min-height: 450px;
}

#delete{
    min-height: 85px;
    color: white;
    padding-top: 30px;
    padding-bottom: auto;
    position: absolute;
}